
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center flex flex-column">
    <h1 class="display-4">Welcome</h1>

	<button style="font-size: 17px; padding: 9px;"  onclick="location.href='Cafe/Add'" class="btn btn-dark">Add Cafe </button>

	<button style="font-size: 17px; padding: 9px;"  onclick="location.href='Cafe/View'" class="btn btn-dark ">List Cafes </button>
</div>
