@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 style="font-size:50px">@ViewData["Title"]</h1>

<br />
    <section>
        <h3>1. Information We Collect</h3> <br />

        <h4>1.1 Personal Information</h4>
        <p>
            We may collect personal information, including but not limited to names, email addresses, phone numbers, and
            reservation details, when voluntarily submitted by our visitors. This information is used solely for the
            purpose of providing and improving our services.
        </p>

        <h4>1.2 Payment Information</h4>
        <p>
            For online orders or reservations, we may collect payment information such as credit card details. This
            information is securely processed through "Payment Processor Name" and is not stored on our servers.
        </p>
    </section>

    <section>
        <h3>2. How We Use Your Information</h3>
        <p>
            We use the collected information for purposes such as processing reservations, responding to inquiries, and
            improving our services. We do not sell, trade, or rent your personal information to third parties.
        </p>
    </section>

    <section>
        <h3>3. Email Communications</h3>
        <p>
            By providing your email address, you may receive occasional emails from us regarding promotions, events, or
            important updates. You can opt out of these communications at any time by following the unsubscribe
            instructions provided in the email.
        </p>
    </section>

    <section>
        <h3>4. Cookies and Tracking Technologies</h3>
        <p>
            We may use cookies and similar tracking technologies to enhance your browsing experience on our website. You can
            modify your browser settings to control the use of cookies.
        </p>
    </section>

    <section>
        <h3>5. Third-Party Links</h3>
        <p>
            Our website may contain links to third-party websites. We are not responsible for the privacy practices or
            content of these websites. Please review the privacy policies of third parties before providing any personal
            information.
        </p>
    </section>

    <section>
        <h3>6. Security</h3>
        <p>
            We take reasonable measures to protect the security of your personal information. However, please be aware
            that no method of transmission over the internet or electronic storage is completely secure.
        </p>
    </section>

    <section>
        <h3>7. Updates to Privacy Policy</h3>
        <p>
            We may update this Privacy Policy to reflect changes in our practices. We encourage you to review this policy
            periodically.
        </p>
    </section>

    <section>
        <h3>8. Contact Us</h3>
        <p>
            If you have any questions or concerns about our Privacy Policy, please contact us at ...
        </p>
    </section>

